:root {
  --accent-color: #3b82f6;
  --back-color: #181a1b;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1rem;
  line-height: 1.25;
  padding: 0;
}

#particles-js {
  position: absolute;
  height: 60vh;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.myDescription {
  margin: 0;
  width: 80%;
  line-height: 2;
}

.topArrow {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  background-color: var(--accent-color);
  border-radius: 1rem;
  width: 5rem;
  height: 5rem;
  z-index: 2;
}

.topArrow .iconify {
  font-size: 5rem;
}

li .fa-brands {
  font-size: 2rem;
}

li .fa-solid {
  font-size: 2rem;
}

button .iconify {
  font-size: 2rem;
}

span {
  color: var(--accent-color);
}

.topBack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh;
  text-align: center;
  background-color: var(--back-color);
  color: white;
}

.myname {
  font-size: clamp(3rem, 5vw, 6rem);
  font-family: "Alfa Slab One";
  font-weight: 400;
  margin: 0;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0.5rem;
  background-color: #181a1b;
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

li {
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  font-size: 3rem;
  margin: auto;
  text-align: center;
  line-height: 1;
  margin-top: 2rem;
}

h2 {
  font-size: 2rem;
  margin: auto;
  font-family: "Alfa Slab One";
  font-weight: 400;
}

h3 {
  font-size: 1.75rem;
  margin: auto;
}

p {
  font-size: 1.75rem;
}

.myLinks {
  display: inline-block;
  position: relative;
  padding-bottom: 0.5rem;
}

.myLinks:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.myLinks:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hrLine {
  margin: auto;
  margin-top: 2rem;
  width: 80%;
  height: 0.2rem;
  background-color: #0d1117;
}

.portfolioTitle {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

#mp3Image {
  width: 80%;
  margin: auto;
}

.git_muney_image_box {
  margin: auto;
  width: 80%;
}

.git_muney_image {
  max-width: 100%;
  height: auto;
}

.videoplayers {
  display: inline;
  margin: auto;
  margin-top: 0;
  border-radius: 0.5rem;
  border: 0.3rem #dcdcdc solid;
  width: 80%;
}

.toolsUsed {
  color: rgb(135, 135, 135);
  margin: auto;
}

.project {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.projectDetails {
  padding: 2rem;
}

.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0d1117;
}

.skillsSection {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--back-color);
  margin-bottom: 2rem;
  clip-path: polygon(100% 0%, 0% 3%, 0% 100%, 100% 97%);
}

.mySkillsHeading {
  margin-top: 10vh;
}

.skillsIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  margin: 0;
  max-width: 70rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 10rem 0 10rem 0;
}

.skillsIcons li {
  display: flex;
  flex-direction: column;
  width: 8rem;
  margin-bottom: 4rem;
  padding: 2rem;
  transition: 0.3s;
}

.skillsIcons > .fa-brands {
  font-size: 5rem;
  padding: 1rem;
}

.iconifySkills {
  font-size: 6rem;
  margin: auto;
}

.iconText {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: white;
}

.bottom {
  color: #0d1117;
}

.education {
  width: 90%;
  margin: auto;
  text-align: center;
  color: black;
}

.educationCard {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 0px 10px 1px #e3e3e3;
  padding: 3rem 1rem 1rem 1rem;
  margin: 3rem 0 5rem 0;
}

.educationInfo {
  text-align: left;
  margin-top: 0;
  width: 70%;
  list-style-type: disc;
}

.educationInfo p {
  line-height: 1.25;
}

.educationInfo li {
  display: list-item;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  list-style-position: inside;
}

.schoolPic {
  width: 27%;
  height: 27%;
  max-width: 180px;
  max-height: 180px;
}

.contactMe {
  color: black;
  text-align: center;
}

.contactMe h2 {
  margin-bottom: 3rem;
}

.contactCards {
  display: flex;
  flex-wrap: wrap;
}

.accentColor {
  color: var(--accent-color);
}

.card {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 25rem;
  box-shadow: 0px 0px 10px 1px #e3e3e3;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  height: 15rem;
  padding: 3rem 0 3rem 0;
}

.card .iconify {
  color: var(--accent-color);
  font-size: 5.5rem;
  padding-bottom: 1rem;
}

.card li {
  transition: all 0.2s;
}

.card li:hover {
  transform: translateY(-1rem);
}

.contactMe a {
  color: var(--accent-color);
}

form {
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 5rem;
  box-shadow: 0px 0px 10px 1px #e3e3e3;
  border-radius: 0.25rem;
  font-size: 2rem;
}

form input {
  margin-bottom: 1rem;
  padding: 1rem;
  width: 80%;
}

form textarea {
  height: 15rem;
  margin-bottom: 1rem;
  width: 80%;
  padding: 1rem;
  resize: none;
}

button {
  cursor: pointer;
  font-size: 2rem;
  color: #c9d1d9;
  border: 0.25rem var(--accent-color) solid;
  border-radius: 0.25rem;
  padding: 1rem;
}

.codeButton {
  margin-top: 2rem;
}

.codeButton {
  background-color: white;
  color: var(--accent-color);
}

.demoButton {
  background-color: var(--accent-color);
  color: white;
}

.codeButton:hover {
  background-color: var(--accent-color);
  color: white;
}

.demoButton:hover {
  background-color: rgb(108, 181, 254);
  border-color: rgb(1, 130, 228);
}

button:hover {
  transition: 0.35s;
}

#contact {
  margin: 3rem 0rem 3rem 0;
}

footer {
  color: #21262d;
}

.footerLinks {
  height: 10vh;
  background-color: #21262d;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footerLinks > a {
  padding: 2rem;
  transition: all 0.2s ease-in-out;
}

.footerLinks > a:hover {
  transform: scale(1.5);
  color: dodgerblue;
}

.footerLinks .iconify {
  font-size: 3rem;
}

@media screen and (min-width: 1025px) {
  body {
    font-size: 2.4rem;
  }
  .myDescription {
    width: 40%;
    margin: 0;
  }
  nav {
    font-size: 2rem;
  }
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }
  .portfolioTitle {
    text-align: left;
  }
  .project {
    flex-direction: row;
    width: 60%;
  }
  #mp3Image {
    width: 60%;
  }
  .git_muney_image_box {
    width: 400%;
  }

  .git_muney_image {
    max-width: 100%;
    height: auto;
  }
  .videoplayers {
    width: 60%;
  }
  p {
    font-size: 2rem;
  }
  .skillsSection {
    clip-path: polygon(100% 0%, 0% 10%, 0% 100%, 100% 90%);
  }
  .skillsIcons li {
    padding: 3rem;
  }
  .skillsIcons li:hover {
    transform: scale(1.35);
  }
  .education {
    width: 50%;
  }
  .educationInfo p {
    line-height: 1.25;
  }
  .educationInfo li {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .contactMe {
    width: 60%;
    margin: auto;
  }
  .contactCards {
    flex-direction: row;
    justify-content: space-around;
  }
  .contactCards h3 {
    font-size: 1.75rem;
  }
  .contactCards p {
    font-size: 1.5rem;
  }
  .iconifySkills {
    font-size: 8rem;
  }
  .iconText {
    font-size: 1.5rem;
  }
  .codeButton {
    margin-bottom: 2rem;
  }
  button {
    padding: 1rem 2rem 1rem 2rem;
  }
  form {
    width: 35%;
  }
}
